

@media screen and ( max-width: 769px ) {

  .loadout-game {
    padding-left: 0.75em !important;
    padding-right: 0.75em !important;
  }

  .loadout-game-container {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }


}

