#loadout-content {
  width: 70%;
}

#other-loadouts {
  width: 30%;
}

.loadout-image {
  text-align: start !important;
}

.loadout-image img {
  width: 94% !important;
}

.other-loadouts-img {
  border-radius: 25px;
  overflow: hidden;
  width: 160px !important;
  height: 80px !important;
}